src/main/mule/gitjenkinsassign.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c120f1fc-5cb5-4867-a560-9c839c3a6ef7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitjenkinsassignFlow" doc:id="6e580de9-841d-45d4-8899-95debd3944ad" >
		<http:listener doc:name="Listener" doc:id="3ae72af8-6f50-40d8-86d0-315be3671ed4" config-ref="HTTP_Listener_config" path="/message"/>
		<set-payload value='#["I have created a simple small mule project which is first exported to Git and then with the help of Jenkins pipelines deployed to cloudhub."]' doc:name="Set Payload" doc:id="95358fb6-c9fc-4350-8467-55f4a68c44c1" />
		<ee:transform doc:name="Transform Message" doc:id="cf976f59-9b55-4bba-bd15-cefdd6506a54" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
